html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.link {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--bcg-primery-color);
  color: #212121;
}

body.modal-open {
  overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.button {
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden__modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.backdrop__modal {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .backdrop__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop__action {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: #000000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__action:hover {
  color: #2196F3;
}

.backdrop__icon-close {
  fill: currentColor;
}

.modal__form {
  padding: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  outline-style: none;
  color: #000000;
  font-size: 16px;
  margin-bottom: 0;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196F3;
}
.modal__input:focus + .modal__icon {
  color: #2196F3;
}

.modal__wrapper {
  position: relative;
}

.modal__input-line {
  margin-bottom: 10px;
}
.modal__input-line:last-child {
  margin-bottom: 0;
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:focus {
  color: #2196F3;
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
}
.modal__button:hover {
  background-color: #188CE8;
}

.modal__lable {
  display: inline-block;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66666666;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__textarea {
  width: 100%;
  height: 138px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 16px;
  margin-bottom: 10px;
  outline-style: none;
}
.modal__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:focus {
  border-color: #2196F3;
}

.check-line {
  width: 370px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .check-line {
    width: 425px;
    margin-right: 11px;
    margin-left: 12px;
  }
}

.modal__checkbox-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: calc 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-agree {
    font-size: 14px;
    line-height: calc 1.7142857143;
  }
}

.modal__mark {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check-mark {
  fill: transparent;
}

.check-line input:checked + .modal__checkbox-agree .modal__mark {
  background-color: #2196F3;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.check-line input:checked + .modal__checkbox-agree .modal__check-mark {
  fill: #FFFFFF;
}

.modal__link {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 87px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.page-header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo__logo-web {
  color: #2196F3;
}

.logo__logo-studio {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .page-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-right: 50px;
  }
  .site-nav__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196F3;
  }
  .site-nav__link--current {
    color: #2196F3;
    position: relative;
  }
  .site-nav__link--current::after {
    content: "";
    position: absolute;
    bottom: -33px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__link--current::after {
    bottom: -35px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav__item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contacts-nav__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav__item {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .contacts-nav__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: #757575;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts-nav__link:hover, .contacts-nav__link:focus {
    color: #2196F3;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav__link {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav__icon {
    margin-right: 8px;
    fill: currentColor;
    width: 14px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav__icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.main-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) {
  .main-section__title {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.main-section__container {
  text-align: center;
}

.main-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2F303A;
  padding-bottom: 118px;
  padding-top: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../css/images/overley/img_sm@1x.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../css/images/overley/img_sm@1x.jpg");
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../css/images/overley/img_md@1x.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../css/images/overley/img_md@1x.jpg");
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../css/images/overley/img_sm@2x.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../css/images/overley/img_sm@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../css/images/overley/img_md@2x.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../css/images/overley/img_md@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../css/images/overley/img_lg@1x.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../css/images/overley/img_lg@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../css/images/overley/img_lg@2x.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../css/images/overley/img_lg@2x.jpg");
  }
}

.main-section__button {
  display: inline-block;
  min-width: 216px;
  padding: 10px 32px;
}
.main-section__button:hover, .main-section__button:focus {
  background-color: #188CE8;
}

.benefits-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.benefits-section__list {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .benefits-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits-section__description {
  margin-bottom: 30px;
}
.benefits-section__description:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .benefits-section__description {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__description {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.benefits-section__description::before {
  content: "";
  display: block;
  border-radius: 4px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
}

.benefits-section__description.icon-antenna::before {
  background-image: url("../css/images/antenna.svg");
  margin-bottom: 30px;
}

.benefits-section__description.icon-clock::before {
  background-image: url("../css/images/clock.svg");
  margin-bottom: 30px;
}

.benefits-section__description.icon-diagram::before {
  background-image: url("../css/images/diagram.svg");
  margin-bottom: 30px;
}

.benefits-section__description.icon-astronaut::before {
  background-image: url("../css/images/astronaut.svg");
  margin-bottom: 30px;
}

.benefits-section__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits-section__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__title {
    text-align: left;
  }
}

.benefits-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .activity-section {
    display: none;
  }
}

.activity-section {
  padding-top: 0;
  padding-bottom: 94px;
}

.activity-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.activity-list__img {
  display: block;
}

.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.activity-list__text {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 223px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 370px;
  height: 70px;
  padding-top: 27px;
}

.activity-list__item {
  margin-right: 30px;
}
.activity-list__item:last-child {
  margin-right: 0;
}

.team-section {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-section__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.team-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-list__title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.team-list__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.team-list__card {
  margin-bottom: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .team-list__card {
    margin-bottom: 0;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}
.social-media__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-media__item:last-child {
  margin-right: 0;
}

.social-media__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: #2196F3;
}

.social-media__icon {
  fill: currentColor;
}

.social-media__link:hover .social-media__icon, .social-media__link:focus .social-media__icon {
  fill: #FFFFFF;
}

.customers-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .customers-section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.customers-section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .company-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.company-list__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 3);
      flex-basis: calc((100% - 30px) / 3);
}
@media screen and (min-width: 768px) {
  .company-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 4);
        flex-basis: calc((100% - 60px) / 4);
  }
}

.company-list__link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 52px;
  display: block;
  width: 210px;
  height: 92px;
  color: #AFB1B8;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list__link:hover, .company-list__link:focus {
  border: 1px solid #2196F3;
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .company-list__link {
    width: 226px;
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .company-list__link {
    width: 170px;
    padding: 16px 32px;
  }
}

.company-list__icon {
  fill: currentColor;
}

.company-list__link:hover .company-list__icon {
  fill: #2196F3;
}

footer {
  background-color: #2F303A;
}

.page-footer__logo-studio {
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .page-footer__logo-studio {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__logo-studio {
    text-align: left;
  }
}

.page-footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .page-footer__container {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196F3;
}
.footer-contacts__link--adress {
  color: #FFFFFF;
}

.footer-contacts {
  margin-top: 20px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    padding-bottom: 0;
  }
}

.footer-contacts__item {
  margin-bottom: 9px;
}
.footer-contacts__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .page-footer__wrapper {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 232px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__wrapper {
    margin-right: 70px;
    text-align: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .social-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.social-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  -webkit-transition-property: color background-color;
  transition-property: color background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
}

.social-link__icon {
  fill: currentColor;
}

.page-footer__follow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .page-footer__follow {
    padding-top: 12px;
    margin-bottom: 0;
  }
}

.page-footer__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .page-footer__title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up-form {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer__sign-up {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .page-footer__sign-up {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__sign-up {
    margin-left: 93px;
  }
}

.sign-up-form__input {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: 450px;
  height: 50px;
  outline: none;
  padding-left: 16px;
  margin-bottom: 20px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sign-up-form__input:focus {
  border-color: #2196F3;
}
.sign-up-form__inputplaceholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .sign-up-form__input {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up-form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.sign-up-form__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  min-width: 200px;
  padding: 10px 28px;
  margin-right: auto;
  margin-left: auto;
}
.sign-up-form__button:hover {
  background-color: #188CE8;
}
@media screen and (min-width: 768px) {
  .sign-up-form__button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sign-up-form__icon {
  position: absolute;
  fill: #FFFFFF;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 9px;
  margin-right: 15px;
}

.page-header__menu-button {
  font-family: inherit;
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  height: 40px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .page-header__menu-button {
    display: none;
  }
}

.menu-button__icon-cross {
  display: none;
}
.menu-button__icon-cross:hover, .menu-button__icon-cross:focus {
  color: #2196F3;
}

.page-header__menu-button.is-open .menu-button__icon-cross {
  display: block;
}

.page-header__menu-button.is-open .menu-button__icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .page-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: 99;
    height: 796px;
    background-color: #FFFFFF;
  }
  .page-header__menu.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .page-header__menu {
    display: none;
  }
}

.menu-nav {
  display: block;
  margin-bottom: 305px;
}
@media screen and (min-width: 768px) {
  .menu-nav {
    display: none;
  }
}

.menu-nav__item {
  margin-bottom: 32px;
}
.menu-nav__item:last-child {
  margin-bottom: 0;
}

.menu-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-nav__link--current {
  color: #2196F3;
}

.menu-contacts__item {
  margin-bottom: 32px;
}
.menu-contacts__item:last-child {
  margin-bottom: 64px;
}

.menu-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-contacts__link--accent {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.menu-social__item {
  display: inline;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0 0 0 9px;
}
.menu-social__item:first-child {
  border: none;
  padding-left: 0;
}
@media screen and (max-width: 479px) {
  .menu-social__item {
    border: none;
  }
}/*# sourceMappingURL=main.css.map */