.benefits-section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
    }
}


.benefits-section__list {
    display: inline-block;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }
    @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }

}

.benefits-section__description {
   
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    
    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
      
    flex-basis: calc((100% - 90px) / 4);
    }
    //  &:nth-child(4n) {
    // margin-right: 0;
    // }
     &::before {
    content: "";
    display: block;
    border-radius: 4px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $bcg-secondary-color;
    }
}

.benefits-section__description.icon-antenna::before {
    background-image: url("../css/images/antenna.svg");
    margin-bottom: 30px;

}

.benefits-section__description.icon-clock::before {
    background-image: url("../css/images/clock.svg");
    margin-bottom: 30px;
}

.benefits-section__description.icon-diagram::before {
    background-image: url("../css/images/diagram.svg");
    margin-bottom: 30px;
}

.benefits-section__description.icon-astronaut::before {
    background-image: url("../css/images/astronaut.svg");
    margin-bottom: 30px;
}

.benefits-section__title {

    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primery-text-color;
    text-align: center;

@media screen and (min-width: 768px) {
    text-align: left;
}

@media screen and (min-width: 1200px) {
    text-align: left;
}

}

.benefits-section__text {

    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}