//COLORS
$primery-text-color: #212121;
$secondary-text-color: #757575;
$logo-color: #000000;
$accent-text-color: #2196F3;
$section-text-color: #FFFFFF;
$footer-secondary-text-color: rgba(255, 255, 255, 0.6);
$bcg-primery-color: #FFFFFF;
$bcg-secondary-color: #F5F4FA;
$bcg-section-color: #2F303A;
$bcg-accent-color: #2196F3;
$bcg-button-hover-color: #188CE8;
$border-color: #EEEEEE;
$border-second-color: #ECECEC;
$icons-color: #AFB1B8;

//FONTS
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway';

